interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/razoralv89/media_service_poc
  response:
    body:
      string: '{"id":917382796,"node_id":"R_kgDONq4mjA","name":"media_service_poc","full_name":"razoralv89/media_service_poc","private":true,"owner":{"login":"razoralv89","id":28672721,"node_id":"MDQ6VXNlcjI4NjcyNzIx","avatar_url":"https://avatars.githubusercontent.com/u/28672721?v=4","gravatar_id":"","url":"https://api.github.com/users/razoralv89","html_url":"https://github.com/razoralv89","followers_url":"https://api.github.com/users/razoralv89/followers","following_url":"https://api.github.com/users/razoralv89/following{/other_user}","gists_url":"https://api.github.com/users/razoralv89/gists{/gist_id}","starred_url":"https://api.github.com/users/razoralv89/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/razoralv89/subscriptions","organizations_url":"https://api.github.com/users/razoralv89/orgs","repos_url":"https://api.github.com/users/razoralv89/repos","events_url":"https://api.github.com/users/razoralv89/events{/privacy}","received_events_url":"https://api.github.com/users/razoralv89/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/razoralv89/media_service_poc","description":null,"fork":false,"url":"https://api.github.com/repos/razoralv89/media_service_poc","forks_url":"https://api.github.com/repos/razoralv89/media_service_poc/forks","keys_url":"https://api.github.com/repos/razoralv89/media_service_poc/keys{/key_id}","collaborators_url":"https://api.github.com/repos/razoralv89/media_service_poc/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/razoralv89/media_service_poc/teams","hooks_url":"https://api.github.com/repos/razoralv89/media_service_poc/hooks","issue_events_url":"https://api.github.com/repos/razoralv89/media_service_poc/issues/events{/number}","events_url":"https://api.github.com/repos/razoralv89/media_service_poc/events","assignees_url":"https://api.github.com/repos/razoralv89/media_service_poc/assignees{/user}","branches_url":"https://api.github.com/repos/razoralv89/media_service_poc/branches{/branch}","tags_url":"https://api.github.com/repos/razoralv89/media_service_poc/tags","blobs_url":"https://api.github.com/repos/razoralv89/media_service_poc/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/razoralv89/media_service_poc/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/razoralv89/media_service_poc/git/refs{/sha}","trees_url":"https://api.github.com/repos/razoralv89/media_service_poc/git/trees{/sha}","statuses_url":"https://api.github.com/repos/razoralv89/media_service_poc/statuses/{sha}","languages_url":"https://api.github.com/repos/razoralv89/media_service_poc/languages","stargazers_url":"https://api.github.com/repos/razoralv89/media_service_poc/stargazers","contributors_url":"https://api.github.com/repos/razoralv89/media_service_poc/contributors","subscribers_url":"https://api.github.com/repos/razoralv89/media_service_poc/subscribers","subscription_url":"https://api.github.com/repos/razoralv89/media_service_poc/subscription","commits_url":"https://api.github.com/repos/razoralv89/media_service_poc/commits{/sha}","git_commits_url":"https://api.github.com/repos/razoralv89/media_service_poc/git/commits{/sha}","comments_url":"https://api.github.com/repos/razoralv89/media_service_poc/comments{/number}","issue_comment_url":"https://api.github.com/repos/razoralv89/media_service_poc/issues/comments{/number}","contents_url":"https://api.github.com/repos/razoralv89/media_service_poc/contents/{+path}","compare_url":"https://api.github.com/repos/razoralv89/media_service_poc/compare/{base}...{head}","merges_url":"https://api.github.com/repos/razoralv89/media_service_poc/merges","archive_url":"https://api.github.com/repos/razoralv89/media_service_poc/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/razoralv89/media_service_poc/downloads","issues_url":"https://api.github.com/repos/razoralv89/media_service_poc/issues{/number}","pulls_url":"https://api.github.com/repos/razoralv89/media_service_poc/pulls{/number}","milestones_url":"https://api.github.com/repos/razoralv89/media_service_poc/milestones{/number}","notifications_url":"https://api.github.com/repos/razoralv89/media_service_poc/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/razoralv89/media_service_poc/labels{/name}","releases_url":"https://api.github.com/repos/razoralv89/media_service_poc/releases{/id}","deployments_url":"https://api.github.com/repos/razoralv89/media_service_poc/deployments","created_at":"2025-01-15T21:55:00Z","updated_at":"2025-10-09T16:04:07Z","pushed_at":"2025-10-09T15:34:37Z","git_url":"git://github.com/razoralv89/media_service_poc.git","ssh_url":"git@github.com:razoralv89/media_service_poc.git","clone_url":"https://github.com/razoralv89/media_service_poc.git","svn_url":"https://github.com/razoralv89/media_service_poc","homepage":null,"size":3624,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":4,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":4,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":true,"triage":true,"pull":true},"temp_clone_token":"ANIGWW4TJE2AECLWKN6LTT3I477HA","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","network_count":0,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f2afa3f93c920f16f9ec8b456a580073743d38d1819ec7032f5a2d0957a6208b"
      Last-Modified:
      - Thu, 09 Oct 2025 16:04:07 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - gist, read:org, repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4997'
      X-RateLimit-Reset:
      - '1760036656'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '3'
      x-github-api-version-selected:
      - '2022-11-28'
      x-oauth-client-id:
      - 178c6fc778ccc68e1d6a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/razoralv89/media_service_poc/pulls/584
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/razoralv89/media_service_poc/pulls/584\",\"id\":2898843844,\"node_id\":\"PR_kwDONq4mjM6syNjE\",\"html_url\":\"https://github.com/razoralv89/media_service_poc/pull/584\",\"diff_url\":\"https://github.com/razoralv89/media_service_poc/pull/584.diff\",\"patch_url\":\"https://github.com/razoralv89/media_service_poc/pull/584.patch\",\"issue_url\":\"https://api.github.com/repos/razoralv89/media_service_poc/issues/584\",\"number\":584,\"state\":\"open\",\"locked\":false,\"title\":\"Improve
        approval notification email content and grammar\",\"user\":{\"login\":\"pedroifgonzalez\",\"id\":55602011,\"node_id\":\"MDQ6VXNlcjU1NjAyMDEx\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/55602011?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/pedroifgonzalez\",\"html_url\":\"https://github.com/pedroifgonzalez\",\"followers_url\":\"https://api.github.com/users/pedroifgonzalez/followers\",\"following_url\":\"https://api.github.com/users/pedroifgonzalez/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/pe[...]
