interactions:
- request:
    body: '{"billable": true, "description": "Test time entry", "start": "2025-10-09T14:16:54Z",
      "end": "2025-10-09T14:21:54Z", "projectId": "6789354f7d7d7e362beca9bf"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.clockify.me/api/v1/workspaces/669ffbbb733d066b1656a3f8/time-entries
  response:
    body:
      string: '{"id":"68e7fd43e38f076cb3e2748f","description":"Test time entry","tagIds":null,"userId":"669ffbbb733d066b1656a3f7","billable":true,"taskId":null,"projectId":"6789354f7d7d7e362beca9bf","timeInterval":{"start":"2025-10-09T14:16:54Z","end":"2025-10-09T14:21:54Z","duration":"PT5M"},"workspaceId":"669ffbbb733d066b1656a3f8","isLocked":false,"customFieldValues":[],"type":"REGULAR","kioskId":null}'
    headers:
      Content-Type:
      - application/json
      Expected-Client-Version:
      - 1.0.0
      X-Auth-Checksum:
      - b8d621f425d912dee69c8f92a7ba213f5ad0a195cd10a508f47082d233944229
    status:
      code: 201
      message: Created
version: 1
