interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wakatime.com/api/v1/users/current/durations?date=2025-10-08&branches=fix%2Fimprove-approval-notification-email-content&project=media_service_poc
  response:
    body:
      string: '{"data": [{"entity": "/home/pedroifgonzalez/Projects/Rodolfo/media_service_poc/branch_and_commit_suggestion.md",
        "type": "file", "time": 1759960320.983, "project": "media_service_poc", "project_root_count":
        null, "branch": "fix/improve-approval-notification-email-content", "language":
        "Markdown", "dependencies": [], "duration": 28.876, "ai_additions": 0, "ai_deletions":
        0, "human_additions": 0, "human_deletions": 0}, {"entity": "/home/pedroifgonzalez/Projects/Rodolfo/media_service_poc/tests/endpoints/invitations/test_approval_access_request_notification.py",
        "type": "file", "time": 1759960499.233, "project": "media_service_poc", "project_root_count":
        null, "branch": "fix/improve-approval-notification-email-content", "language":
        "Python", "dependencies": ["unittest", "app"], "duration": 3.121, "ai_additions":
        0, "ai_deletions": 0, "human_additions": 0, "human_deletions": 0[...]
