interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/pedroifgonzalez/trackify
  response:
    body:
      string: '{"id":1073118704,"node_id":"R_kgDOP_Z98A","name":"trackify","full_name":"pedroifgonzalez/trackify","private":false,"owner":{"login":"pedroifgonzalez","id":55602011,"node_id":"MDQ6VXNlcjU1NjAyMDEx","avatar_url":"https://avatars.githubusercontent.com/u/55602011?v=4","gravatar_id":"","url":"https://api.github.com/users/pedroifgonzalez","html_url":"https://github.com/pedroifgonzalez","followers_url":"https://api.github.com/users/pedroifgonzalez/followers","following_url":"https://api.github.com/users/pedroifgonzalez/following{/other_user}","gists_url":"https://api.github.com/users/pedroifgonzalez/gists{/gist_id}","starred_url":"https://api.github.com/users/pedroifgonzalez/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pedroifgonzalez/subscriptions","organizations_url":"https://api.github.com/users/pedroifgonzalez/orgs","repos_url":"https://api.github.com/users/pedroifgonzalez/repos","events_url":"https://api.github.com/users/pedroifgonzalez/events{/privacy}","received_events_url":"https://api.github.com/users/pedroifgonzalez/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/pedroifgonzalez/trackify","description":null,"fork":false,"url":"https://api.github.com/repos/pedroifgonzalez/trackify","forks_url":"https://api.github.com/repos/pedroifgonzalez/trackify/forks","keys_url":"https://api.github.com/repos/pedroifgonzalez/trackify/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pedroifgonzalez/trackify/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pedroifgonzalez/trackify/teams","hooks_url":"https://api.github.com/repos/pedroifgonzalez/trackify/hooks","issue_events_url":"https://api.github.com/repos/pedroifgonzalez/trackify/issues/events{/number}","events_url":"https://api.github.com/repos/pedroifgonzalez/trackify/events","assignees_url":"https://api.github.com/repos/pedroifgonzalez/trackify/assignees{/user}","branches_url":"https://api.github.com/repos/pedroifgonzalez/trackify/branches{/branch}","tags_url":"https://api.github.com/repos/pedroifgonzalez/trackify/tags","blobs_url":"https://api.github.com/repos/pedroifgonzalez/trackify/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pedroifgonzalez/trackify/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pedroifgonzalez/trackify/git/refs{/sha}","trees_url":"https://api.github.com/repos/pedroifgonzalez/trackify/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pedroifgonzalez/trackify/statuses/{sha}","languages_url":"https://api.github.com/repos/pedroifgonzalez/trackify/languages","stargazers_url":"https://api.github.com/repos/pedroifgonzalez/trackify/stargazers","contributors_url":"https://api.github.com/repos/pedroifgonzalez/trackify/contributors","subscribers_url":"https://api.github.com/repos/pedroifgonzalez/trackify/subscribers","subscription_url":"https://api.github.com/repos/pedroifgonzalez/trackify/subscription","commits_url":"https://api.github.com/repos/pedroifgonzalez/trackify/commits{/sha}","git_commits_url":"https://api.github.com/repos/pedroifgonzalez/trackify/git/commits{/sha}","comments_url":"https://api.github.com/repos/pedroifgonzalez/trackify/comments{/number}","issue_comment_url":"https://api.github.com/repos/pedroifgonzalez/trackify/issues/comments{/number}","contents_url":"https://api.github.com/repos/pedroifgonzalez/trackify/contents/{+path}","compare_url":"https://api.github.com/repos/pedroifgonzalez/trackify/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pedroifgonzalez/trackify/merges","archive_url":"https://api.github.com/repos/pedroifgonzalez/trackify/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pedroifgonzalez/trackify/downloads","issues_url":"https://api.github.com/repos/pedroifgonzalez/trackify/issues{/number}","pulls_url":"https://api.github.com/repos/pedroifgonzalez/trackify/pulls{/number}","milestones_url":"https://api.github.com/repos/pedroifgonzalez/trackify/milestones{/number}","notifications_url":"https://api.github.com/repos/pedroifgonzalez/trackify/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pedroifgonzalez/trackify/labels{/name}","releases_url":"https://api.github.com/repos/pedroifgonzalez/trackify/releases{/id}","deployments_url":"https://api.github.com/repos/pedroifgonzalez/trackify/deployments","created_at":"2025-10-09T16:37:35Z","updated_at":"2025-10-09T16:46:34Z","pushed_at":"2025-10-13T14:06:21Z","git_url":"git://github.com/pedroifgonzalez/trackify.git","ssh_url":"git@github.com:pedroifgonzalez/trackify.git","clone_url":"https://github.com/pedroifgonzalez/trackify.git","svn_url":"https://github.com/pedroifgonzalez/trackify","homepage":null,"size":405,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":1,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","security_and_analysis":{"secret_scanning":{"status":"enabled"},"secret_scanning_push_protection":{"status":"enabled"},"dependabot_security_updates":{"status":"disabled"},"secret_scanning_non_provider_patterns":{"status":"disabled"},"secret_scanning_validity_checks":{"status":"disabled"}},"network_count":0,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"51dc23c28784b3fa5db8e3a175fb18f04d196db50c2ccfe6a9e8a08f61d48d7b"
      Last-Modified:
      - Thu, 09 Oct 2025 16:46:34 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - gist, read:org, repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4996'
      X-RateLimit-Reset:
      - '1760373079'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '4'
      x-github-api-version-selected:
      - '2022-11-28'
      x-oauth-client-id:
      - 178c6fc778ccc68e1d6a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/pedroifgonzalez/trackify/commits/17eb55f13de5130bd40bbee0146152845e415524
  response:
    body:
      string: "{\"sha\":\"17eb55f13de5130bd40bbee0146152845e415524\",\"node_id\":\"C_kwDOP_Z98NoAKDE3ZWI1NWYxM2RlNTEzMGJkNDBiYmVlMDE0NjE1Mjg0NWU0MTU1MjQ\",\"commit\":{\"author\":{\"name\":\"Pedro
        Iv\xE1n Fern\xE1ndez Gonz\xE1lez\",\"email\":\"pedroifgonzalez@gmail.com\",\"date\":\"2025-10-13T14:05:57Z\"},\"committer\":{\"name\":\"Pedro
        Iv\xE1n Fern\xE1ndez Gonz\xE1lez\",\"email\":\"pedroifgonzalez@gmail.com\",\"date\":\"2025-10-13T14:05:57Z\"},\"message\":\"refactor:
        remove pipe method and simplify add_summary logic in PullRequestReport\",\"tree\":{\"sha\":\"b5c3a473ce7beef30ab11105a356fd932c7d4862\",\"url\":\"https://api.github.com/repos/pedroifgonzalez/trackify/git/trees/b5c3a473ce7beef30ab11105a356fd932c7d4862\"},\"url\":\"https://api.github.com/repos/pedroifgonzalez/trackify/git/commits/17eb55f13de5130bd40bbee0146152845e415524\",\"comment_count\":0,\"verification\":{\"verified\":false,\"reason\":\"unsigned\",\"signature\":null,\"payload\":null,\"verified_at\":null}},\"url\":\"https://api.github.com/repos/pedroifgonzalez/trackify/commits/17eb55f13de5130bd40bbee0146152845e415524\",\"html_url\":\"https://github.com/pedroifgonzalez/trackify/commit/17eb55f13de5130bd40bbee0146152845e415524\",\"comments_url\":\"https://api.github.com/repos/pedroifgonzalez/trackify/commits/17eb55f13de5130bd40bbee0146152845e415524/comments\",\"author\":{\"login\":\"pedroifgonzalez\",\"id\":55602011,\"node_id\":\"MDQ6VXNlcjU1NjAyMDEx\",\"avatar_url\":\"https://avatars.githubus[...]
