interactions:
- request:
    body: null
    headers:
      Authorization:
      - token GITHUB_TOKEN_PLACEHOLDER
    method: GET
    uri: https://api.github.com/repos/razoralv89/media_service_poc
  response:
    body:
      string: '{"id":917382796,"node_id":"R_kgDONq4mjA","name":"media_service_poc","full_name":"razoralv89/media_service_poc","private":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - token GITHUB_TOKEN_PLACEHOLDER
    method: GET
    uri: https://api.github.com/repos/razoralv89/media_service_poc/pulls/584
  response:
    body:
      string: '{"url":"https://api.github.com/repos/razoralv89/media_service_poc/pulls/584","id":2898843844,"title":"Improve approval notification email content and grammar"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
