interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/razoralv89/media_service_poc
  response:
    body:
      string: '{"id":917382796,"node_id":"R_kgDONq4mjA","name":"media_service_poc","full_name":"razoralv89/media_service_poc","private":true,"owner":{"login":"razoralv89","id":28672721,"node_id":"MDQ6VXNlcjI4NjcyNzIx","avatar_url":"https://avatars.githubusercontent.com/u/28672721?v=4","gravatar_id":"","url":"https://api.github.com/users/razoralv89","html_url":"https://github.com/razoralv89","followers_url":"https://api.github.com/users/razoralv89/followers","following_url":"https://api.github.com/users/razoralv89/following{/other_user}","gists_url":"https://api.github.com/users/razoralv89/gists{/gist_id}","starred_url":"https://api.github.com/users/razoralv89/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/razoralv89/subscriptions","organizations_url":"https://api.github.com/users/razoralv89/orgs","repos_url":"https://api.github.com/users/razoralv89/repos","events_url":"https://api.github.com/users/razoralv89/events{/privacy}","received_events_url":"https://api.github.com/users/razoralv89/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/razoralv89/media_service_poc","description":null,"fork":false,"url":"https://api.github.com/repos/razoralv89/media_service_poc","forks_url":"https://api.github.com/repos/razoralv89/media_service_poc/forks","keys_url":"https://api.github.com/repos/razoralv89/media_service_poc/keys{/key_id}","collaborators_url":"https://api.github.com/repos/razoralv89/media_service_poc/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/razoralv89/media_service_poc/teams","hooks_url":"https://api.github.com/repos/razoralv89/media_service_poc/hooks","issue_events_url":"https://api.github.com/repos/razoralv89/media_service_poc/issues/events{/number}","events_url":"https://api.github.com/repos/razoralv89/media_service_poc/events","assignees_url":"https://api.github.com/repos/razoralv89/media_service_poc/assignees{/user}","branches_url":"https://api.github.com/repos/razoralv89/media_service_poc/branches{/branch}","tags_url":"https://api.github.com/repos/razoralv89/media_service_poc/tags","blobs_url":"https://api.github.com/repos/razoralv89/media_service_poc/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/razoralv89/media_service_poc/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/razoralv89/media_service_poc/git/refs{/sha}","trees_url":"https://api.github.com/repos/razoralv89/media_service_poc/git/trees{/sha}","statuses_url":"https://api.github.com/repos/razoralv89/media_service_poc/statuses/{sha}","languages_url":"https://api.github.com/repos/razoralv89/media_service_poc/languages","stargazers_url":"https://api.github.com/repos/razoralv89/media_service_poc/stargazers","contributors_url":"https://api.github.com/repos/razoralv89/media_service_poc/contributors","subscribers_url":"https://api.github.com/repos/razoralv89/media_service_poc/subscribers","subscription_url":"https://api.github.com/repos/razoralv89/media_service_poc/subscription","commits_url":"https://api.github.com/repos/razoralv89/media_service_poc/commits{/sha}","git_commits_url":"https://api.github.com/repos/razoralv89/media_service_poc/git/commits{/sha}","comments_url":"https://api.github.com/repos/razoralv89/media_service_poc/comments{/number}","issue_comment_url":"https://api.github.com/repos/razoralv89/media_service_poc/issues/comments{/number}","contents_url":"https://api.github.com/repos/razoralv89/media_service_poc/contents/{+path}","compare_url":"https://api.github.com/repos/razoralv89/media_service_poc/compare/{base}...{head}","merges_url":"https://api.github.com/repos/razoralv89/media_service_poc/merges","archive_url":"https://api.github.com/repos/razoralv89/media_service_poc/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/razoralv89/media_service_poc/downloads","issues_url":"https://api.github.com/repos/razoralv89/media_service_poc/issues{/number}","pulls_url":"https://api.github.com/repos/razoralv89/media_service_poc/pulls{/number}","milestones_url":"https://api.github.com/repos/razoralv89/media_service_poc/milestones{/number}","notifications_url":"https://api.github.com/repos/razoralv89/media_service_poc/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/razoralv89/media_service_poc/labels{/name}","releases_url":"https://api.github.com/repos/razoralv89/media_service_poc/releases{/id}","deployments_url":"https://api.github.com/repos/razoralv89/media_service_poc/deployments","created_at":"2025-01-15T21:55:00Z","updated_at":"2025-10-10T22:33:28Z","pushed_at":"2025-10-10T22:33:26Z","git_url":"git://github.com/razoralv89/media_service_poc.git","ssh_url":"git@github.com:razoralv89/media_service_poc.git","clone_url":"https://github.com/razoralv89/media_service_poc.git","svn_url":"https://github.com/razoralv89/media_service_poc","homepage":null,"size":3575,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":3,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":true,"triage":true,"pull":true},"temp_clone_token":"ANIGWW6NHG53RAYCPX4NXDTI5PW5K","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","network_count":0,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"fc1bd43b37604569d24e924f0b8f010764f5e5739cf502eb4eb9e918e5cbfeb3"
      Last-Modified:
      - Fri, 10 Oct 2025 22:33:28 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - gist, read:org, repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4968'
      X-RateLimit-Reset:
      - '1760293769'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '32'
      x-github-api-version-selected:
      - '2022-11-28'
      x-oauth-client-id:
      - 178c6fc778ccc68e1d6a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/razoralv89/media_service_poc/pulls/592
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/razoralv89/media_service_poc/pulls/592\",\"id\":2905320810,\"node_id\":\"PR_kwDONq4mjM6tK61q\",\"html_url\":\"https://github.com/razoralv89/media_service_poc/pull/592\",\"diff_url\":\"https://github.com/razoralv89/media_service_poc/pull/592.diff\",\"patch_url\":\"https://github.com/razoralv89/media_service_poc/pull/592.patch\",\"issue_url\":\"https://api.github.com/repos/razoralv89/media_service_poc/issues/592\",\"number\":592,\"state\":\"closed\",\"locked\":false,\"title\":\"Fix
        folder visibility for corporate users in boards tree\",\"user\":{\"login\":\"pedroifgonzalez\",\"id\":55602011,\"node_id\":\"MDQ6VXNlcjU1NjAyMDEx\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/55602011?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/pedroifgonzalez\",\"html_url\":\"https://github.com/pedroifgonzalez\",\"followers_url\":\"https://api.github.com/users/pedroifgonzalez/followers\",\"following_url\":\"https://api.github.com/users/pedroifgonzalez/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/pe[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/razoralv89/media_service_poc/pulls/592/commits
  response:
    body:
      string: '[{"sha":"8f943c6538e9fe5d945de73b4819d9fe18e4d3ea","node_id":"C_kwDONq4mjNoAKDhmOTQzYzY1MzhlOWZlNWQ5NDVkZTczYjQ4MTlkOWZlMThlNGQzZWE","commit":{"author":{"name":"Pedro
        Ivan Fernandez Gonzalez","email":"pedro.fernandez@alivi.com","date":"2025-10-10T20:07:26Z"},"committer":{"name":"Pedro
        Ivan Fernandez Gonzalez","email":"pedro.fernandez@alivi.com","date":"2025-10-10T20:07:26Z"},"message":"fix:
        folder visibility for corporate users in boards tree\n\n- Refactored get_user_boards_tree
        to properly handle show_others_folders parameter\n- Fixed query logic to include
        folders where user is a member\n- Added UsersFolder join for corporate users
        to see folders they have access to\n- Updated test_show_others_folders to
        reflect new behavior\n- Fixed test fixture for corporate user folder membership","tree":{"sha":"c7c496680ce20ee721ee25cb93486d57d4105bd5","url":"https://api.github.com/repos/razoralv89/media_service_poc/git/trees/c7c496680ce20ee721ee25cb93486d57d4105bd5"},"url":"https://api.github.com/repos/razoralv89/media_service_poc/git/commits/8f943c6538e9fe5d945de73b4819d9fe18e4d3ea","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}},"url":"https://api.github.com/repos/razoralv89/media_service_poc/commits/8f943c6538e9fe5d945de73b4819d9fe18e4d3ea","html_url":"https://github.com/razoralv89/media_service_poc/commit/8f943c6538e9fe5d945de73b4819d9fe18e4d3ea","comments_url":"https://api.github.com/repos/razoralv89/media_service_poc/commits/8f943c6538e9fe5d945de73b4819d9fe18e4d3ea/comments","author":null,"committer":null,"parents":[{"sha":"f65cfc2d6000aebf1c55eb02c0a082ac28fdb6f5","url":"https://api.github.com/repos/razoralv89/media_service_poc/commits/f65cfc2d6000aebf1c55eb02c0a082ac28fdb6f5","html_url":"https://github.com/razoralv89/media_service_poc/commit/f65cfc2d6000aebf1c55eb02c0a082ac28fdb6f5"}]},{"sha":"4520e323cecd13dd75dfa0969548cfe200f7a50e","node_id":"C_kwDONq4mjNoAKDQ1MjBlMzIzY2VjZDEzZGQ3NWRmYTA5Njk1NDhjZmUyMDBmN2E1MGU","commit":{"author":{"name":"Pedro
        Ivan Fernandez Gonzalez","email":"pedro.fernande[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://wakatime.com/api/v1/users/current/durations?date=2025-10-10&branches=fix%2Ffolder-visibility-for-corporate-users&project=media_service_poc&timezone=America%2FHavana
  response:
    body:
      string: '{"data": [{"entity": "/home/pedroifgonzalez/Projects/Rodolfo/media_service_poc/diff.txt",
        "type": "file", "time": 1760126757.261, "project": "media_service_poc", "project_root_count":
        null, "branch": "fix/folder-visibility-for-corporate-users", "language": "Text",
        "dependencies": [], "duration": 1.83, "ai_additions": 0, "ai_deletions": 0,
        "human_additions": 0, "human_deletions": 0}, {"entity": "/home/pedroifgonzalez/Projects/Rodolfo/media_service_poc/tests/endpoints/folders/test_show_others_folders.py",
        "type": "file", "time": 1760126759.091, "project": "media_service_poc", "project_root_count":
        null, "branch": "fix/folder-visibility-for-corporate-users", "language": "Python",
        "dependencies": ["tests", "pytest", "app"], "duration": 11.489, "ai_additions":
        0, "ai_deletions": 0, "human_additions": 0, "human_deletions": 0}, {"entity":
     [...]
